<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="~{fragmentos/cabecero::cabecero-seccion(titulo = 'Inicio')}">
</head>
<body>

    <header>

        <div th:replace="~{fragmentos/navegacion::navegacion-seccion}"/>
        <div class="container">

            <!-- Titulo -->
            <div class="container text-center" style="margin: 30px">
                <h1>Sistema de Contactos</h1>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <table class="table table-striped table-hover align-middle table-bordered">
                <thead class="table-dark text-center">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Celular</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="contacto: ${contactos}">
                        <th th:text="${contacto.id}" scope="row"></th>
                        <td th:text="${contacto.nombre}"></td>
                        <td th:text="${contacto.celular}"></td>
                        <td th:text="${contacto.email}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <footer>

        <p><small>Este archivo fue desarrollado con <strong>fines educativos &copy;</strong> </small></p>

        <div th:replace="~{fragmentos/pie-pagina::pie-pagina-seccion}"/>
    </footer>
</body>
</html>